#map {
    width: 60%;
    height: 400px;
}
h1,h2,h3 {
    font-family: 'Playfair Display', serif;
text-align: center;
}
body {
    font-family: 'Courgette', cursive;
    background-color: #E8530D;
    text-align: center;
    font-size: large;
}
header{
width: 100%;
background-color: #FF4400;
color: black;
margin: fill;
padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
img {
    width: 15%;
    padding: 25px;
    box-sizing: border-box;
}
footer{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.makkarilogo {
    width: 10%;
float: left;
}
.makkarilogo2 {
    width: 10%;
    float: right;
}